<h1>Heroes</h1>

<ul>
    <% @heroes.each do |hero| %>
        <li>
            <%= hero.id %> - <%= hero.name_en %> <img src="<%= @images[hero.id] %>">
        </li>
    <% end %>
</ul>

<%= link_to 'Home', root_path %>
