@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    color: #fff;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.match_table {
    /* margin: 64px; */
    margin-left: auto;
    margin-right: auto;
}

.match_table td {
    padding: 8px;
    padding-right: 24px;
}

.match_table th {
    padding: 16px;
}

.match_table tr:hover {
    background-color: #3f3e4a;
}

.odd_line {
    background-color: #333;
}

.even_line {
    background-color: #494949;
}

a {
    color: #dce5f8;
}
a:visited {
    color: #dce5f8;
}
a:hover {
    color: #b7ceff;
}

.home_link {
    position: fixed;
    right: 24px;
    top: 24px;
    color: white;
    text-decoration: none;
}

.home_link:visited {
    color: white;
}

.home_link:hover {
    color: #b7ceff;
}

.score_up {
    background-color: #3e4a3e;
}

.score_equal {
    background-color: #4a483e;
}

.score_down {
    background-color: #4a3e3e;
}

.progress_icon {
    width: 12px;
    margin-left: auto;
}

.match_hero {
    width: 100px;
    margin-top: auto;
}

.avatar_full {
    width: 184px;
    margin-left: calc(50% - 92px);
}
