/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #333;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Radiance', sans-serif;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('assets/dota_back.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Reaver', sans-serif;
}

.content {
    margin: 0;
    width: 50vw;
    margin-left: 25vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    padding-top: 32px;
    min-height: calc(100vh - 32px);
}

.match_table {
    /* margin: 64px; */
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

.match_table td {
    padding: 8px;
    padding-right: 24px;
}

.match_table th {
    padding: 16px;
}

.match_table tr:hover {
    background-color: #3f3e4a;
}

.odd_line {
    background-color: #333;
}

.even_line {
    background-color: #494949;
}

a {
    color: #dce5f8;
}

a:visited {
    color: #dce5f8;
}

a:hover {
    color: #b7ceff;
}

.home_link {
    position: fixed;
    right: 24px;
    top: 24px;
    color: white;
    text-decoration: none;
}

.home_link:visited {
    color: white;
}

.home_link:hover {
    color: #b7ceff;
}

.score_up {
    background-color: #3e4a3e;
}

.score_equal {
    background-color: #4a483e;
}

.score_down {
    background-color: #4a3e3e;
}

.match_hero {
    width: 100px;
    margin-top: auto;
}

.avatar_full {
    width: 184px;
    margin-left: calc(50% - 92px);
}

.achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .player {
    margin: 12px;
}

.icon_medium {
    width: 20px;
    margin-left: 2px;
}

.icon_small {
    width: 12px;
    margin-left: auto;
}

.closed {
    display: none;
}
