/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

body {
    color: #fff;
    background-color: #333;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Radiance', sans-serif;
}

h1, h2, h3, h4, h5, p{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.match_table {
    /* margin: 64px; */
    margin-left: auto;
    margin-right: auto;
}

.match_table td {
    padding: 8px;
    padding-right: 24px;
}

.match_table th {
    padding: 16px;
}

.match_table tr:hover {
    background-color: #4a3e3e;
}

.odd_line {
    background-color: #333;
}

.even_line {
    background-color: #494949;
}

a {
    color: #dce5f8;
}
a:visited {
    color: #dce5f8;
}
a:hover {
    color: #b7ceff;
}
