<table class="match_table">
    <tr>
        <td>Match</td>
        <td>Score</td>
        <td>Start Time</td>
    </tr>
<% matches.each do |match| %>
    <tr class="<%= match.radiant_win ? "score_up" : "score_down" %>">
        <td><%= link_to "#{match.serial}", match %></td>
        <td><%= "#{match.score_radiant} : #{match.score_dire}" %></td>
        <td><%= render 'time', time: match.start_time %></td>
    <tr>
<% end %>
</table>